<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <title>JM Rental bike</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <a href="accueil.html"> <img src="/static/images/Specialized_Logo.jpg" alt="logo"> </a>
            </div>
            <div class="titre">
                <h1>JM Rental bike</h1>
            </div>
        </nav>

        <!--Bandeau noir contenant les onglets-->
        <ul>
            <li>
                <a href="description.html"> Description </a>
            </li>
        </ul>
    </header>

    <div class="home">
        <img src="/static/images/SL7.jpg" alt="SL7" width="700">
        <img src="/static/images/Aethos.jpg" alt="Aethos" width="700">
        <img src="/static/images/Emonda-SLR.jpg" alt="V3RS" width="700">
        <img src="/static/images/Orca_omr.jpg" alt="Orca_omr" width="700">
        <img src="/static/images/Madone-SLR.jpg" alt="Cento1" width="700">
        <img src="/static/images/Emonda-SLR.jpg" alt="TCR-Advanced" width="700">
        <img src="/static/images/V3RS.jpg" alt="Madone-SLR" width="700">
        <img src="/static/images/TCR-Advanced.jpg" alt="Emonda-SLR" width="700">
        <img src="/static/images/Filante.png" alt="Filante-SLR" width="700">
        <img src="/static/images/Cento1.jpg" alt="Aeroad-CFR" width="700">
    </div>



    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Students</h3>
                        <ul>
                            <li>
                                <p>Jean TOSCANELLI</p>
                            </li>
                            <li>
                                <p>Mathieu ROGER</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About us</h3>
                        <p>Wa have created a website which allows to people to rent bikes for riding where they want !</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Contact us</h3>
                        <p>Follow us on Linkedlin and Facebook</p>
                    </div>
                    <div class="col item social">
                        <a href="https://www.linkedin.com/in/mathieu-roger-aa70b5178/"><i class="icon ion-social-linkedin"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100009367793376"><i class="icon ion-social-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/jean-toscanelli-2216731a1/"><i class="icon ion-social-linkedin"></i></a>
                        <a href="https://www.facebook.com/jeantoscanelli"><i class="icon ion-social-facebook"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>