<%- include('partial_headers.ejs'); %>
    <h1>ONE PERSON</h1>

    <p><a href='/persons/list'>&raquo; Back to the list</a></p>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>My Person</td>
            <tr>
                <td>Name of the person</td>
                <td>
                    <%= oneperson.person_name  %>
                </td>
                
            </tr>
            <tr>
                <td>ID of the person</td>
                <td>
                    <%= oneperson.person_id  %>
                </td>
                
            </tr>

    </table>
    </body>

    </html>